@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #A4A4A4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #919191;
}

#sidebar{
    width: 12rem;

    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    #sidebar-brand{
        height: 6rem;

        margin-bottom: 0;

        border-bottom: 2px solid hsl(0, 0%, 21%);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link-item-is-active{
        background-color: hsl(0, 0%, 96%);
        color: hsl(0, 0%, 21%);
        border-radius: 0;
    }

    #bottom-container{
        width: 100%;

        position: absolute;
        bottom: 0;
        
        text-align: center;
        
        p{
            border-top: 2px solid hsl(0, 0%, 21%);
        }
    }
}

.notification{
    position: absolute;
    left: 0;
    right: 0;
}

.has_title_underline{
    border-bottom: 3px solid hsl(0, 0%, 21%)
}

#modal-confirmation{
    z-index: 100;

    section{
        border-radius: 0.25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button{
            width: 200px;
            height: 75px;
        }
    }
}

#main-container{
    margin-left: 8rem;

    .home-first-row-card{
        .card{
            height: 110px;

            .icon-text{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
    
                .text{
                    white-space: nowrap;
                }
            }
    
            .content-progress{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .text{
                    color: white;
    
                    position: absolute;
                    
                    margin-bottom: 0.15rem;
                }

                progress{
                    &::-webkit-progress-bar{
                        background-color: #A4A4A4;
                        width: 100%;
                    }
                }
            }
        }

        #warning_card{
            .icon-text{
                div{
                    color: #FFBB00 !important;
                }
            }

            progress{
                color: #FFBB00 !important;

                &::-moz-progress-bar{
                    background: #FFBB00 !important;
                }

                &::-webkit-progress-value{
                    background: #FFBB00 !important;
                }
            }
        }
    }

    .home-second-row-card{
        .card{
            height: 475px;

            .content{
                height: 395px;

                overflow-y: auto;
            }
        }
    }

    .home-third-row-card{
        .card{
            height: 90px;

            display: flex;
            justify-content: center;
            align-items: center;

            .card-content{
                display: flex;
                flex-direction: column;
   
            }
        }

        .card-button{
            user-select: none;

            cursor: pointer;
        }

        .card-button-innocent-active{
            &:hover{
                background-color: #50C08E !important;
            }
        }

        .card-button-guilty-active{
            &:hover{
                background-color: #E74566 !important;
            }
        }

        .card-button-innocent-disabled{
            background-color: hsl(141, 53%, 31%) !important;
            cursor: not-allowed;
        }

        .card-button-guilty-disabled{
            background-color: hsl(348, 75%, 34%) !important;
            cursor: not-allowed;
        }
    }

    #modal-response{
        z-index: 100;

        section{
            border-radius: 0.25rem;
        }
        
        .modal-success{
            border: 3px solid #48c78e !important;
        }
    
        .modal-danger{
            border: 3px solid #f14668 !important;
        } 
    }
}

#setting-container{
    margin-left: 8rem;
    
    .card-button{
        user-select: none;

        cursor: pointer;
    }

    #card-button-danger{
        &:hover{
            background-color: #E74566 !important;
        }
    }
}

#login-container, #register-container{
    .hero-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .column{
            margin-bottom: 10rem;
            height: 275px;
            width: 275px;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
        }
    }
}