@charset "utf-8";

$box-radius : 0px;
$box-padding : 0px;
$menu-label-spacing : 0px;

@import "../../node_modules/bulma/bulma.sass";

#sidebar{
    width: 12rem;

    position: fixed;
    top: 0;
    bottom: 0;

    #sidebar-brand{
        height: 6rem;
        border-bottom: 1px solid hsl(0, 0%, 21%);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #copyright-container{
        width: 100%;

        position: absolute;
        bottom: 0;

        text-align: center;

        border-top: 1px solid hsl(0, 0%, 21%);
    }
}