<aside id="sidebar" class="menu has-background-white">
    <div id="sidebar-brand" class="menu-label">
        <h1 class="title is-4">EvaTion</h1>
    </div>
    
    <ul class="menu-list">
        <%
            const list_of_page_attribute = [
                {display : "Utama", link : "home", icon : "fa-home"},
                {display : "Informasi", link : "stats", icon : "fa-bars-progress"},
                {display : "Peningkatan", link : "upgrade", icon : "fa-angles-up"},
                {display : "Berita", link : "history", icon : "fa-list-ul"},
                {display : "Pengaturan", link : "setting", icon : "fa-gear"}
            ];
        %>

        <% for(i = 0; i < list_of_page_attribute.length; i++){ %>
            <li>
                <a href="<%= list_of_page_attribute[i].link %>">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas <%= list_of_page_attribute[i].icon %>"></i>
                        </span>
                        
                        <span><%= list_of_page_attribute[i].display %></span>
                    </span>
                </a>
            </li>
        <% } %>
    </ul>
    
    <div id="bottom-container">
        <div><%= user_data.username %></div>
        <p class="is-size-6 pt-2 pb-2">Copyright © 2022 XI-RPL</p>
    </div>
</aside>