<div id="sidebar" class="box has-background-white">
    <div id="sidebar-brand" class="menu-label">
        <h1 class="title is-4">EvaTion</h1>
    </div>
    
    <ul class="menu-list">
        <li><a href="home">Home</a></li>
        <li><a href="stats">Stats</a></li>
        <li><a href="upgrade">Upgrade</a></li>
        <li><a href="history">History</a></li>
        <li><a href="setting">Setting</a></li>
    </ul>
    
    <div id="copyright-container" class="pt-2 pb-2">
        <p class="is-size-6">Copyright © 2022 XI-RPL</p>
    </div>
    
</div>