<!DOCTYPE html>
<html lang="en" class="has-background-light">
    <head>
        <%- include('partials/head', { title }); %>
    </head>

    <body>
        <%- include('partials/nav', { user_data }); %>

        <div id="main-container" class="container is-fluid mb-0 pb-0">
            <section class="section mt-2 pt-2 mb-0 pb-0">
                <div class="title is-4">Work In Progress</div>
            </section>
        </div>
    </body>
</html>