<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', { title }); %>
    </head>
    
    <body>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>