@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #A4A4A4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

.has_title_underline {
  border-bottom: 3px solid #363636;
}

#sidebar {
  width: 12rem;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sidebar #sidebar-brand {
  height: 6rem;
  margin-bottom: 0;
  border-bottom: 2px solid #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar #bottom-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#sidebar #bottom-container p {
  border-top: 2px solid #363636;
}

.notification {
  position: absolute;
  left: 0;
  right: 0;
}

#main-container {
  margin-left: 8rem;
}

#main-container .home-first-row-card .card {
  height: 110px;
}

#main-container .home-first-row-card .card .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container .home-first-row-card .card .icon-text .text {
  white-space: nowrap;
}

#main-container .home-first-row-card .card .content-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container .home-first-row-card .card .content-progress .text {
  color: white;
  position: absolute;
  margin-bottom: 0.15rem;
}

#main-container .home-first-row-card .card .content-progress progress::-webkit-progress-bar {
  background-color: #A4A4A4;
  width: 100%;
}

#main-container .home-first-row-card #warning_card .icon-text div {
  color: #FFBB00 !important;
}

#main-container .home-first-row-card #warning_card progress {
  color: #FFBB00 !important;
}

#main-container .home-first-row-card #warning_card progress::-moz-progress-bar {
  background: #FFBB00 !important;
}

#main-container .home-first-row-card #warning_card progress::-webkit-progress-value {
  background: #FFBB00 !important;
}

#main-container .home-second-row-card .card {
  height: 475px;
}

#main-container .home-second-row-card .card .content {
  height: 395px;
  overflow-y: auto;
}

#main-container .home-third-row-card .card {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container .home-third-row-card .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container .home-third-row-card .card-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#main-container .home-third-row-card #card-button-innocent:hover {
  background-color: #50C08E !important;
}

#main-container .home-third-row-card #card-button-guilty:hover {
  background-color: #E74566 !important;
}

#login-container .hero-body, #register-container .hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-container .hero-body .column, #register-container .hero-body .column {
  margin-bottom: 10rem;
  height: 275px;
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */