@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #A4A4A4;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

#sidebar {
  width: 12rem;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sidebar #sidebar-brand {
  height: 6rem;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
  border-bottom: 2px solid #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar #sidebar-brand:hover {
  background-color: whitesmoke;
  color: #363636;
}

#sidebar .link-item-is-active {
  background-color: whitesmoke;
  color: #363636;
  border-radius: 0;
}

#sidebar #bottom-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#sidebar #bottom-container p {
  border-top: 2px solid #363636;
}

.has_title_underline {
  border-bottom: 3px solid #363636;
}

.has_color_warning {
  color: #FFBB00;
}

.has_color_info_dark {
  color: #0e446f;
}

.has_color_success_dark {
  color: #085734;
}

.has_color_danger_dark {
  color: #F14668;
}

.has_color_warning_dark {
  color: #846512;
}

.has_border_info {
  border: 2px solid #3E8ED0;
}

.has_border_success {
  border: 2px solid #48C78E;
}

.has_border_danger {
  border: 2px solid #F14668;
}

.has_border_warning {
  border: 2px solid #FFBB00;
}

#modal-confirmation {
  z-index: 100;
}

#modal-confirmation section {
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-confirmation section button {
  width: 200px;
  height: 75px;
}

#info_card ::-webkit-scrollbar-thumb {
  background-color: #3E8ED0;
}

#info_card .main-card-title {
  border-bottom: 3px solid #3E8ED0;
}

#success_card ::-webkit-scrollbar-thumb {
  background-color: #48C78E;
}

#success_card .main-card-title {
  border-bottom: 3px solid #48C78E;
}

#danger_card ::-webkit-scrollbar-thumb {
  background-color: #F14668;
}

#danger_card .main-card-title {
  border-bottom: 3px solid #F14668;
}

#warning_card ::-webkit-scrollbar-thumb {
  background-color: #FFBB00;
}

#warning_card .main-card-title {
  color: #FFBB00 !important;
  border-bottom: 3px solid #FFBB00;
}

#main-container {
  margin-left: 8rem;
}

#main-container .home-first-row-card .card {
  height: 110px;
}

#main-container .home-first-row-card .card .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container .home-first-row-card .card .icon-text .text {
  white-space: nowrap;
}

#main-container .home-first-row-card .card .content-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container .home-first-row-card .card .content-progress .text {
  color: white;
  position: absolute;
  margin-bottom: 0.15rem;
}

#main-container .home-first-row-card .card .content-progress progress::-webkit-progress-bar {
  background-color: #A4A4A4;
  width: 100%;
}

#main-container .home-first-row-card #warning_card .icon-text div {
  color: #FFBB00 !important;
}

#main-container .home-first-row-card #warning_card progress {
  color: #FFBB00 !important;
}

#main-container .home-first-row-card #warning_card progress::-moz-progress-bar {
  background: #FFBB00 !important;
}

#main-container .home-first-row-card #warning_card progress::-webkit-progress-value {
  background: #FFBB00 !important;
}

#main-container .home-second-row-card .card {
  height: 475px;
}

#main-container .home-second-row-card .card .content {
  height: 395px;
  overflow-y: auto;
}

#main-container .home-third-row-card .card {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container .home-third-row-card .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container .home-third-row-card .card-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#main-container .home-third-row-card .card-button-innocent-active:hover {
  background-color: #50C08E !important;
}

#main-container .home-third-row-card .card-button-guilty-active:hover {
  background-color: #E74566 !important;
}

#main-container .home-third-row-card .card-button-innocent-disabled {
  background-color: #257942 !important;
  cursor: not-allowed;
}

#main-container .home-third-row-card .card-button-guilty-disabled {
  background-color: #981630 !important;
  cursor: not-allowed;
}

#main-container .home-final-row-card .card {
  height: 585px;
}

#main-container .home-final-row-card .card .content {
  height: 505px;
  overflow-y: auto;
}

#main-container #modal-response {
  z-index: 100;
}

#main-container #modal-response section {
  border-radius: 0.25rem;
}

#main-container #modal-response .modal-success {
  border: 3px solid #48c78e !important;
}

#main-container #modal-response .modal-danger {
  border: 3px solid #f14668 !important;
}

#information-container {
  margin-left: 8rem;
}

#upgrade-container {
  margin-left: 8rem;
}

#upgrade-container ::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

#upgrade-container ::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

#upgrade-container .main-card-container {
  height: 720px;
}

#upgrade-container .main-card-container .main-card-title {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#upgrade-container .main-card-container .upgrade-card-container {
  height: 630px;
  overflow: auto;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item {
  -webkit-box-shadow: 0 0 !important;
          box-shadow: 0 0 !important;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-icon {
  background-color: rgba(54, 54, 54, 0.65);
  font-size: 2.5rem;
  height: 75px;
  width: 75px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-icon:hover {
  background-color: rgba(54, 54, 54, 0.75) !important;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-icon .upgrade-icon-symbol {
  font-size: 4rem;
  position: absolute;
  margin-bottom: 0.75rem;
  pointer-events: none;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-icon-disabled {
  background-color: #363636 !important;
  cursor: not-allowed !important;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-icon-disabled:hover {
  background-color: #363636 !important;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-text .upgrade-card-title {
  font-size: 0.95rem;
}

#upgrade-container .main-card-container .upgrade-card-container .upgrade-card-item .upgrade-card-content .upgrade-card-text .upgrade-card-subtitle {
  font-size: 0.9rem;
}

#setting-container {
  margin-left: 8rem;
}

#setting-container .card-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#setting-container #card-button-danger:hover {
  background-color: #E74566 !important;
}

#login-container .notification, #register-container .notification {
  position: absolute;
  left: 0;
  right: 0;
}

#login-container .hero-body, #register-container .hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-container .hero-body .column, #register-container .hero-body .column {
  margin-bottom: 10rem;
  height: 275px;
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */